/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body{
background-color: rgb(78, 78, 78);
color: rgb(255, 255, 255);
font-family: "";

}

h1,h2,h3,h4{ font-family: "Ubuntu", "times new roman";
    margin-top: 0;
margin-left: 1em;
}

h1+p,h2+p,h3+p,h4+p{
    margin-top: 0;

}


p{
margin-left: 3em;
margin: 2em,0;
margin-right: 3em;
margin-bottom: 0.5em;
}

.card{
    background-color: lightgreen;
    color: rgb(19, 77, 41);
    border-radius: 10px;
    padding: 0.5em;

}

.card p {
    margin: 0em;
}

p:last-child{
    margin-bottom: 0em;
}

.grid{
    grid-template-columns: 1fr 1fr ;
    
}